*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(22, 22, 22);
    color: white;
}

.gameContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    position: relative;
}

.box{
    border: 2px solid purple;
    font-size: 8vw;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.box:hover{
background-color: rgb(140, 0,222);
}

.info{
    font-size: 30px;
}

.gameInfo{
    padding: 0 34px;
}

.imgBox img{
    width: 0;
    transition: width 1s;
}

#reset{
    margin:0 23px;
    padding: 10px 25px;
    cursor: pointer;
    background-color: purple;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bolder;
}

.lt{
    border-left: none;
    border-top: none;
}
.t{
    border-top: none;
}
.tr{
    border-top: none;
    border-right: none;
}
.l{
    border-left:none;
}
.r{
    border-right:none;
}
.b{
    border-bottom:none;
}
.lb{
    border-left:none;
    border-bottom:none;
}
.br{
    border-right:none;
    border-bottom:none;
}